In [1]:
import pandas as pd

In [3]:
data_df = pd.read_csv('knives.csv')
data_df

,Unnamed: 0,Listing,Actions,Avg Sold Price,Avg Shipping,Total Sold,Item_Sale,Bids,Date Last Sold
0,0,", preview full size imageCUSTOM HANDMADE FORGE...",EditSell SimilarExclude listing,$78.50Fixed price,$0.00100% Free shipping,2,$157.00,–,"Mar 20, 2024"
1,1,", preview full size image7 Piece Kitchen Knife...",EditSell SimilarExclude listing,$18.36Fixed price,$7.9999% Free shipping,219,"$4,020.78",–,"Mar 20, 2024"
2,2,", preview full size imageKnives Set Serrated S...",EditSell SimilarExclude listing,$21.88Fixed price,$0.00100% Free shipping,365,"$7,984.65",–,"Mar 20, 2024"
3,3,", preview full size imageVictorinox Swiss Clas...",EditSell SimilarExclude listing,$32.52Fixed price,$0.00100% Free shipping,35,"$1,138.15",–,"Mar 20, 2024"
4,4,", preview full size image12”Handmade Damascus ...",EditSell SimilarExclude listing,$33.93Fixed price,$0.00100% Free shipping,7,$237.53,–,"Mar 20, 2024"
...,...,...,...,...,...,...,...,...,...
3395,45,", preview full size imageWusthof Gourmet 3"" Pa...",EditSell SimilarExclude listing,$29.95Fixed price,$0.00100% Free shipping,1,$29.95,–,"Dec 29, 2023"
3396,46,", preview full size imageAnolon Cutlery 5 Piec...",EditSell SimilarExclude listing,$67.50Fixed price,$22.400% Free shipping,2,$135.00,–,"Dec 29, 2023"
3397,47,", preview full size imageCutco Brand New Facto...",EditSell SimilarExclude listing,$75.00Fixed price,$5.700% Free shipping,1,$75.00,–,"Dec 29, 2023"
3398,48,", preview full size imageJ. A. Henckels Fine E...",EditSell SimilarExclude listing,$49.99Fixed price,$0.00100% Free shipping,1,$49.99,–,"Dec 29, 2023"
3399,49,", preview full size imageLONGHORN STEAKHOUSE S...",EditSell SimilarExclude listing,$74.99Fixed price,$12.850% Free shipping,1,$74.99,–,"Dec 29, 2023"

In [4]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

# Download NLTK resources (only need to do this once)
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# Function to extract keywords
def extract_keywords(text):
    tokens = word_tokenize(text)
    tagged_tokens = pos_tag(tokens)
    keywords = [word for word, pos in tagged_tokens if pos in ['NN', 'NNS', 'NNP', 'JJ']]
    return keywords

[nltk_data] Downloading package punkt to /Users/evanbruno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/evanbruno/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [5]:


# Function to extract and format the first part of the string
def extract_and_format(value):
    parts = value.split('%')[0].split('$')[1]
    first_part = parts.strip()
    formatted_value = '{:.2f}'.format(float(first_part[1:]))
    return formatted_value
# Remove commas from all values in the DataFrame
data_df = data_df.replace(',', '', regex=True)
# 
data_df['Avg_Sold_Price'] = data_df['Avg Sold Price'].apply(lambda x: x.split('$')[1].split('F')[0].split('A')[0]).astype(float)

# 
data_df['Total_Sales'] = data_df['Item_Sale'].apply(lambda x: x.split('$')[1]).astype(float)

data_df['Total_Sold'] = data_df['Total Sold'].astype(float)

# Convert string to datetime
data_df['Date'] = pd.to_datetime(data_df['Date Last Sold'])

# Apply the function to the column
data_df['Shipping'] = data_df['Avg Shipping'].apply(lambda x: extract_and_format(x)).astype(float)

data_df.drop(columns=['Unnamed: 0', 'Actions', 'Avg Sold Price', 'Bids', 'Date Last Sold', 'Avg Shipping', 'Item_Sale', 'Total Sold'], inplace=True)

data_df['Listing'] = data_df['Listing'].apply(lambda x: x.split('image')[-1])

# Apply the function to both listing titles and descriptions
data_df['Title_Keywords'] = data_df['Listing'].apply(extract_keywords)

data_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
0,CUSTOM HANDMADE FORGED DAMASCUS STEEL CHEF KNI...,78.50,157.00,2.0,2024-03-20,0.00,"[CUSTOM, HANDMADE, FORGED, DAMASCUS, STEEL, CH..."
1,7 Piece Kitchen Knife Set Stainless Steel Ultr...,18.36,4020.78,219.0,2024-03-20,1.00,"[Piece, Kitchen, Knife, Set, Stainless, Steel,..."
2,Knives Set Serrated Stainless Steel Steak Kitc...,21.88,7984.65,365.0,2024-03-20,0.00,"[Knives, Set, Serrated, Stainless, Steel, Stea..."
3,Victorinox Swiss Classic Tomato and Table Set ...,32.52,1138.15,35.0,2024-03-20,0.00,"[Victorinox, Swiss, Classic, Tomato, Table, Se..."
4,12”Handmade Damascus Chef Knife Hand Forged Ja...,33.93,237.53,7.0,2024-03-20,0.00,"[”, Handmade, Damascus, Chef, Knife, Hand, For..."
...,...,...,...,...,...,...,...
3395,"Wusthof Gourmet 3"" Paring Knife 4010 7cm Brand...",29.95,29.95,1.0,2023-12-29,0.00,"[Wusthof, Gourmet, Knife, Brand, New, BoxWusth..."
3396,Anolon Cutlery 5 Piece Japanese Stainless Stee...,67.50,135.00,2.0,2023-12-29,2.40,"[Anolon, Cutlery, Piece, Japanese, Stainless, ..."
3397,Cutco Brand New Factory Sealed #1723 Carving K...,75.00,75.00,1.0,2023-12-29,0.70,"[Cutco, Brand, New, Factory, Sealed, Carving, ..."
3398,"J. A. Henckels Fine Edge Pro Knife Set 8"" CHEF...",49.99,49.99,1.0,2023-12-29,0.00,"[J, A., Henckels, Fine, Edge, Pro, Knife, CHEF..."
3399,LONGHORN STEAKHOUSE Steak Knives heavy weighte...,74.99,74.99,1.0,2023-12-29,2.85,"[LONGHORN, STEAKHOUSE, Steak, Knives, heavy, w..."

In [6]:
data_df['Month_Year'] = data_df['Date'].dt.strftime('%B %Y')

# Popular Whole df

In [7]:
filtered_df= data_df.loc[data_df['Avg_Sold_Price'] > 10]
filtered_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords,Month_Year
0,CUSTOM HANDMADE FORGED DAMASCUS STEEL CHEF KNI...,78.50,157.00,2.0,2024-03-20,0.00,"[CUSTOM, HANDMADE, FORGED, DAMASCUS, STEEL, CH...",March 2024
1,7 Piece Kitchen Knife Set Stainless Steel Ultr...,18.36,4020.78,219.0,2024-03-20,1.00,"[Piece, Kitchen, Knife, Set, Stainless, Steel,...",March 2024
2,Knives Set Serrated Stainless Steel Steak Kitc...,21.88,7984.65,365.0,2024-03-20,0.00,"[Knives, Set, Serrated, Stainless, Steel, Stea...",March 2024
3,Victorinox Swiss Classic Tomato and Table Set ...,32.52,1138.15,35.0,2024-03-20,0.00,"[Victorinox, Swiss, Classic, Tomato, Table, Se...",March 2024
4,12”Handmade Damascus Chef Knife Hand Forged Ja...,33.93,237.53,7.0,2024-03-20,0.00,"[”, Handmade, Damascus, Chef, Knife, Hand, For...",March 2024
...,...,...,...,...,...,...,...,...
3395,"Wusthof Gourmet 3"" Paring Knife 4010 7cm Brand...",29.95,29.95,1.0,2023-12-29,0.00,"[Wusthof, Gourmet, Knife, Brand, New, BoxWusth...",December 2023
3396,Anolon Cutlery 5 Piece Japanese Stainless Stee...,67.50,135.00,2.0,2023-12-29,2.40,"[Anolon, Cutlery, Piece, Japanese, Stainless, ...",December 2023
3397,Cutco Brand New Factory Sealed #1723 Carving K...,75.00,75.00,1.0,2023-12-29,0.70,"[Cutco, Brand, New, Factory, Sealed, Carving, ...",December 2023
3398,"J. A. Henckels Fine Edge Pro Knife Set 8"" CHEF...",49.99,49.99,1.0,2023-12-29,0.00,"[J, A., Henckels, Fine, Edge, Pro, Knife, CHEF...",December 2023
3399,LONGHORN STEAKHOUSE Steak Knives heavy weighte...,74.99,74.99,1.0,2023-12-29,2.85,"[LONGHORN, STEAKHOUSE, Steak, Knives, heavy, w...",December 2023

In [8]:
from collections import Counter

In [9]:

def extract_phrases(title):
    tokens = title.split()  # Tokenize the title
    phrases = []
    for i in range(len(tokens)):
        for j in range(i + 1, min(i + 6, len(tokens) + 1)):  # Generate combinations of 2 to 5 words
            phrase = ' '.join(tokens[i:j])
            if len(phrase.split()) >= 2 and len(phrase.split()) <= 5:  # Check if phrase length is between 2 and 5
                phrases.append(phrase)
    return phrases

# Apply the function to the Titles column
phrases = filtered_df['Listing'].apply(extract_phrases).sum()

# Count the occurrences of each phrase
phrase_counts = Counter(phrases)

# Find the most common phrases
most_common_phrases = phrase_counts.most_common()

most_common_phrases_df = pd.DataFrame(most_common_phrases, columns=['Name', 'Count'])
most_common_phrases_df.head(25)

                 Name  Count
0           Knife Set   1123
1     Stainless Steel   1056
2        Paring Knife    912
3        Steak Knives    664
4       Kitchen Knife    527
5          Knives Set    508
6              Set of    436
7      Kitchen Knives    361
8          Chef Knife    333
9   Kitchen Knife Set    266
10       Fillet Knife    244
11   Steak Knives Set    224
12     Damascus Steel    211
13     DAMASCUS STEEL    202
14         CHEF KNIFE    198
15               of 4    194
16      Slicing Knife    192
17        High Carbon    191
18           Set with    188
19        Chef Knives    187
20      Carving Knife    180
21      Knives Set of    176
22  Japanese Damascus    175
23         STEEL CHEF    168
24            Knife -    168

In [10]:
type_product = most_common_phrases_df['Name'].head(100).tolist()

In [11]:

dict_sales = {'Phrase': [], 'Avg_Sold_Price_mean': [], 'Avg_Sold_Price_25': [], 'Avg_Sold_Price_75': [], 'Total_Sold': [], 'Ship_Cost': [], 'Count_Unique': []}


for phrase in type_product:
    # Filter rows where 'filtered_df' or 'Vitamin' is in the list
    temp_df = filtered_df[filtered_df['Listing'].apply(lambda x: phrase in x)]

    mean = temp_df.describe()['Avg_Sold_Price'].tolist()[1]

    percent_25 = temp_df.describe()['Avg_Sold_Price'].tolist()[4]

    percent_75 = temp_df.describe()['Avg_Sold_Price'].tolist()[6]

    total = temp_df['Total_Sold'].sum()

    ship = temp_df.describe()['Shipping'].tolist()[5]
    
    count =  temp_df.describe()['Total_Sold'].tolist()[0]
    
    dict_sales['Phrase'].append(phrase)
    dict_sales['Avg_Sold_Price_mean'].append(mean)
    dict_sales['Avg_Sold_Price_25'].append(percent_25)
    dict_sales['Avg_Sold_Price_75'].append(percent_75)
    dict_sales['Total_Sold'].append(total)
    dict_sales['Ship_Cost'].append(ship)
    dict_sales['Count_Unique'].append(count)
    
stats_df = pd.DataFrame.from_dict(dict_sales)

stats_df['Ratio_Sold_Count'] = stats_df['Total_Sold'] / stats_df['Count_Unique']

In [12]:
stats_df.sort_values(by='Avg_Sold_Price_mean', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
74,BRAND NEW,151.046393,54.0000,79.950,152.0,0.0,61.0,2.491803
68,Wusthof Classic,122.091410,74.9925,158.750,298.0,0.0,78.0,3.820513
40,KNIFE SET,114.057719,46.7500,129.530,494.0,0.0,57.0,8.666667
46,Set -,113.868727,21.8850,89.970,1344.0,0.0,55.0,24.436364
92,Knife Block,99.626944,29.9975,100.795,365.0,0.0,36.0,10.138889
49,Set Kitchen,94.581698,56.9500,107.670,484.0,0.0,53.0,9.132075
94,Piece Knife,93.615909,29.4925,82.480,656.0,0.0,44.0,14.909091
96,CHEF KNIFE Set,93.361714,87.4350,108.190,440.0,0.0,35.0,12.571429
55,FORGED DAMASCUS STEEL CHEF KNIFE,93.218043,82.7250,109.460,559.0,0.0,46.0,12.152174
89,KNIFE Set,91.462500,87.2225,107.930,441.0,0.0,36.0,12.250000

In [13]:
stats_df.sort_values(by='Total_Sold', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
1,Stainless Steel,40.763455,19.9500,50.0000,14682.0,0.0,573.0,25.623037
0,Knife Set,58.742654,21.9975,72.9925,10288.0,0.0,584.0,17.616438
7,Kitchen Knives,60.500185,25.1200,82.8800,5661.0,0.0,216.0,26.208333
4,Kitchen Knife,47.125292,21.9900,58.8650,4868.0,0.0,291.0,16.728522
2,Paring Knife,48.399027,22.4500,64.9900,4829.0,0.0,514.0,9.394942
8,Chef Knife,46.145842,21.9150,63.1375,4126.0,0.0,190.0,21.715789
19,Chef Knives,55.578571,22.9700,69.9900,3456.0,0.0,105.0,32.914286
9,Kitchen Knife Set,52.681192,22.9950,69.9950,3162.0,0.0,151.0,20.940397
22,Japanese Damascus,45.487191,27.1300,67.6800,3034.0,0.0,89.0,34.089888
36,Set Japanese,53.554576,28.0650,68.4750,2548.0,0.0,59.0,43.186441

In [14]:
stats_df.sort_values(by='Ratio_Sold_Count', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
83,Knife Kitchen,33.044474,17.6525,32.8300,2352.0,0.0,38.0,61.894737
91,Japanese Damascus Pattern,54.832571,39.0450,70.8150,1665.0,0.0,35.0,47.571429
45,Set Japanese Damascus,46.616604,27.5900,66.3600,2455.0,0.0,53.0,46.320755
36,Set Japanese,53.554576,28.0650,68.4750,2548.0,0.0,59.0,43.186441
69,Knives Stainless Steel,43.395349,25.4900,58.5750,1654.0,0.0,43.0,38.465116
56,Damascus Pattern,55.619592,38.7700,72.2100,1849.0,0.0,49.0,37.734694
60,Knives Stainless,42.931818,24.9900,54.8675,1655.0,0.0,44.0,37.613636
22,Japanese Damascus,45.487191,27.1300,67.6800,3034.0,0.0,89.0,34.089888
19,Chef Knives,55.578571,22.9700,69.9900,3456.0,0.0,105.0,32.914286
76,Serrated Steak,29.492927,18.5200,36.4800,1104.0,0.0,41.0,26.926829