In [1]:
import pandas as pd

In [34]:
stick_cpi = pd.read_csv('Economic_data/CORESTICKM159SFRBATL.csv')
stick_cpi = stick_cpi.rename(columns={'CORESTICKM159SFRBATL': 'Sticky_Price_CPI'})
stick_cpi['Change_Sticky_Price_CPI'] = (stick_cpi['Sticky_Price_CPI'] - stick_cpi['Sticky_Price_CPI'].shift(1)) / stick_cpi['Sticky_Price_CPI']
stick_cpi

           DATE  Sticky_Price_CPI  Change_Sticky_Price_CPI
0    1968-01-01          3.651861                      NaN
1    1968-02-01          3.673819                 0.005977
2    1968-03-01          4.142164                 0.113068
3    1968-04-01          4.155828                 0.003288
4    1968-05-01          4.088245                -0.016531
..          ...               ...                      ...
669  2023-10-01          4.882928                -0.015737
670  2023-11-01          4.688293                -0.041515
671  2023-12-01          4.554396                -0.029400
672  2024-01-01          4.603922                 0.010757
673  2024-02-01          4.403102                -0.045609

[674 rows x 3 columns]

In [35]:
ms = pd.read_csv('Economic_data/M2REAL.csv')
ms = ms.rename(columns={'M2REAL': 'Money_Supply'})
ms['Change_Money_Supply'] = (ms['Money_Supply'] - ms['Money_Supply'].shift(1)) / ms['Money_Supply']
ms

           DATE  Money_Supply  Change_Money_Supply
0    1959-01-01         987.9                  NaN
1    1959-02-01         992.1             0.004233
2    1959-03-01         998.3             0.006211
3    1959-04-01        1001.0             0.002697
4    1959-05-01        1006.2             0.005168
..          ...           ...                  ...
777  2023-10-01        6730.6            -0.001337
778  2023-11-01        6728.3            -0.000342
779  2023-12-01        6732.5             0.000624
780  2024-01-01        6713.3            -0.002860
781  2024-02-01        6681.7            -0.004729

[782 rows x 3 columns]

In [41]:
med_cpi = pd.read_csv('Economic_data/MEDCPIM158SFRBCLE.csv')
med_cpi = med_cpi.rename(columns={'MEDCPIM158SFRBCLE': 'Median_CPI'})
med_cpi['Change_Median_CPI'] = (med_cpi['Median_CPI'] - med_cpi['Median_CPI'].shift(1)) / med_cpi['Median_CPI']
med_cpi

           DATE  Median_CPI  Change_Median_CPI
0    1983-01-01    5.014653                NaN
1    1983-02-01    4.952545          -0.012541
2    1983-03-01    3.612261          -0.371038
3    1983-04-01    4.828054           0.251819
4    1983-05-01    3.767326          -0.281560
..          ...         ...                ...
489  2023-10-01    3.497958          -0.491705
490  2023-11-01    5.122615           0.317154
491  2023-12-01    4.160125          -0.231361
492  2024-01-01    6.542477           0.364136
493  2024-02-01    4.558160          -0.435333

[494 rows x 3 columns]

In [42]:
pce = pd.read_csv('Economic_data/PCE.csv')
pce = pce.rename(columns={'PCE': 'Personal_Consumption_Expenditure'})
pce['Change_Personal_Consumption_Expenditure'] = (pce['Personal_Consumption_Expenditure'] - pce['Personal_Consumption_Expenditure'].shift(1)) / pce['Personal_Consumption_Expenditure']
pce

,DATE,Personal_Consumption_Expenditure,Change_Personal_Consumption_Expenditure
0,1959-01-01,306.1,NaN
1,1959-02-01,309.6,0.011305
2,1959-03-01,312.7,0.009914
3,1959-04-01,312.2,-0.001602
4,1959-05-01,316.1,0.012338
...,...,...,...
777,2023-10-01,18826.8,0.001875
778,2023-11-01,18903.0,0.004031
779,2023-12-01,19013.7,0.005822
780,2024-01-01,19043.6,0.001570
781,2024-02-01,19189.0,0.007577

In [43]:
rpce = pd.read_csv('Economic_data/PCEC96.csv')
rpce = rpce.rename(columns={'PCEC96': 'Real_Personal_Consumption_Expenditure'})
rpce['Change_Real_Personal_Consumption_Expenditure'] = (rpce['Real_Personal_Consumption_Expenditure'] - rpce['Real_Personal_Consumption_Expenditure'].shift(1)) / rpce['Real_Personal_Consumption_Expenditure']

rpce

,DATE,Real_Personal_Consumption_Expenditure,Change_Real_Personal_Consumption_Expenditure
0,2007-01-01,11181.0,NaN
1,2007-02-01,11178.2,-0.000250
2,2007-03-01,11190.7,0.001117
3,2007-04-01,11201.5,0.000964
4,2007-05-01,11218.0,0.001471
...,...,...,...
201,2023-10-01,15519.9,0.001540
202,2023-11-01,15584.3,0.004132
203,2023-12-01,15655.8,0.004567
204,2024-01-01,15621.6,-0.002189
205,2024-02-01,15688.7,0.004277

In [44]:
int_r = pd.read_csv('Economic_data/REAINTRATREARAT10Y.csv')
int_r = int_r.rename(columns={'REAINTRATREARAT10Y': '10_year_interest'})
int_r['Change_10_year_interest'] = (int_r['10_year_interest'] - int_r['10_year_interest'].shift(1)) / int_r['10_year_interest']
int_r

           DATE  10_year_interest  Change_10_year_interest
0    1982-01-01          7.623742                      NaN
1    1982-02-01          7.656648                 0.004298
2    1982-03-01          7.128993                -0.074015
3    1982-04-01          7.408347                 0.037708
4    1982-05-01          7.320041                -0.012064
..          ...               ...                      ...
502  2023-11-01          2.094329                 0.005667
503  2023-12-01          1.680899                -0.245957
504  2024-01-01          1.680871                -0.000016
505  2024-02-01          1.616823                -0.039614
506  2024-03-01          1.938163                 0.165796

[507 rows x 3 columns]

In [45]:
unrate = pd.read_csv('Economic_data/UNRATE-2.csv')
unrate = unrate.rename(columns={'UNRATE': 'Unemployment_Rate'})
unrate['Change_Unemployment_Rate'] = (unrate['Unemployment_Rate'] - unrate['Unemployment_Rate'].shift(1)) / unrate['Unemployment_Rate']
unrate

           DATE  Unemployment_Rate  Change_Unemployment_Rate
0    1948-01-01                3.4                       NaN
1    1948-02-01                3.8                  0.105263
2    1948-03-01                4.0                  0.050000
3    1948-04-01                3.9                 -0.025641
4    1948-05-01                3.5                 -0.114286
..          ...                ...                       ...
909  2023-10-01                3.8                  0.000000
910  2023-11-01                3.7                 -0.027027
911  2023-12-01                3.7                  0.000000
912  2024-01-01                3.7                  0.000000
913  2024-02-01                3.9                  0.051282

[914 rows x 3 columns]

In [54]:
total_df = pd.merge(unrate, int_r, on='DATE', how='outer')
total_df = pd.merge(total_df, rpce, on='DATE', how='outer')
total_df = pd.merge(total_df, med_cpi, on='DATE', how='outer')
total_df = pd.merge(total_df, pce, on='DATE', how='outer')
total_df = pd.merge(total_df, ms, on='DATE', how='outer')
total_df = pd.merge(total_df, stick_cpi, on='DATE', how='outer')
total_df = total_df.rename(columns={'DATE': 'Date'})
total_df = total_df.loc[total_df['Date'] > '2021-01-01']
total_df['Date'] = pd.to_datetime(total_df['Date'])
total_df.dropna(inplace=True)
total_df

,Date,Unemployment_Rate,Change_Unemployment_Rate,10_year_interest,Change_10_year_interest,Real_Personal_Consumption_Expenditure,Change_Real_Personal_Consumption_Expenditure,Median_CPI,Change_Median_CPI,Personal_Consumption_Expenditure,Change_Personal_Consumption_Expenditure,Money_Supply,Change_Money_Supply,Sticky_Price_CPI,Change_Sticky_Price_CPI
877,2021-02-01,6.2,-0.032258,-0.230824,-0.018167,14037.8,-0.010180,2.791872,0.580474,14948.2,-0.006630,7426.8,0.008267,1.405123,0.003241
878,2021-03-01,6.1,-0.016393,0.012507,19.455761,14629.3,0.040433,2.452308,-0.138467,15657.6,0.045307,7481.2,0.007272,1.592366,0.117588
879,2021-04-01,6.1,0.000000,0.118047,0.894052,14730.7,0.006884,2.906269,0.156201,15854.1,0.012394,7551.4,0.009296,2.209393,0.279274
880,2021-05-01,5.8,-0.051724,0.036948,-2.194984,14689.6,-0.002798,3.255716,0.107333,15890.0,0.002259,7617.8,0.008716,2.562825,0.137907
881,2021-06-01,5.9,0.016949,-0.005665,7.522252,14816.4,0.008558,3.750860,0.132008,16108.5,0.013564,7571.8,-0.006075,2.558145,-0.001829
882,2021-07-01,5.4,-0.092593,0.035041,1.161663,14784.0,-0.002192,3.030015,-0.237902,16150.8,0.002619,7580.6,0.001161,2.323597,-0.100942
883,2021-08-01,5.1,-0.058824,-0.261019,1.134247,14863.0,0.005315,4.052921,0.252387,16305.6,0.009494,7636.0,0.007255,2.332419,0.003782
884,2021-09-01,4.7,-0.085106,-0.194731,-0.340408,14899.4,0.002443,4.930690,0.178022,16398.9,0.005689,7652.7,0.002182,2.610662,0.106579
885,2021-10-01,4.5,-0.044444,0.087901,3.215340,14997.3,0.006528,6.581623,0.250840,16613.8,0.012935,7647.4,-0.000693,3.007604,0.131979
886,2021-11-01,4.1,-0.097561,0.163998,0.464011,15019.2,0.001458,5.921978,-0.111389,16741.6,0.007634,7645.1,-0.000301,3.184384,0.055515
887,2021-12-01,3.9,-0.051282,0.091689,-0.788629,14970.4,-0.003260,4.864243,-0.217451,16799.2,0.003429,7654.7,0.001254,3.456458,0.078715
888,2022-01-01,4.0,0.025000,0.319495,0.713019,14971.1,0.000047,6.735986,0.277872,16888.6,0.005294,7632.1,-0.002961,3.965498,0.128367
889,2022-02-01,3.8,-0.052632,0.441593,0.276494,14980.6,0.000634,6.375188,-0.056594,16999.7,0.006535,7594.4,-0.004964,4.280304,0.073548
890,2022-03-01,3.6,-0.055556,0.347090,-0.272272,15034.0,0.003552,6.221319,-0.024733,17203.6,0.011852,7550.5,-0.005814,4.534344,0.056026
891,2022-04-01,3.7,0.027027,0.949400,0.634411,15081.7,0.003163,6.923883,0.101470,17310.5,0.006175,7519.7,-0.004096,4.703935,0.036053
892,2022-05-01,3.6,-0.027778,1.203898,0.211395,15060.0,-0.001441,7.588879,0.087628,17384.8,0.004274,7443.8,-0.010196,4.950974,0.049897
893,2022-06-01,3.6,0.000000,1.025094,-0.174427,15065.8,0.000385,8.010460,0.052629,17550.0,0.009413,7337.2,-0.014529,5.396330,0.082529
894,2022-07-01,3.5,-0.028571,1.062175,0.034911,15069.1,0.000219,5.988326,-0.337679,17556.4,0.000365,7336.5,-0.000095,5.590730,0.034772
895,2022-08-01,3.6,0.027778,0.855625,-0.241402,15136.3,0.004440,8.048036,0.255927,17692.2,0.007676,7325.1,-0.001556,5.951312,0.060589
896,2022-09-01,3.5,-0.028571,1.204249,0.289495,15176.7,0.002662,7.729216,-0.041249,17804.0,0.006279,7257.6,-0.009301,6.348017,0.062493
897,2022-10-01,3.6,0.027778,1.797332,0.329980,15202.7,0.001710,6.693666,-0.154706,17915.1,0.006201,7198.2,-0.008252,6.312946,-0.005555
898,2022-11-01,3.6,0.000000,1.930713,0.069084,15149.8,-0.003492,5.916617,-0.131333,17892.5,-0.001263,7160.8,-0.005223,6.422543,0.017064
899,2022-12-01,3.5,-0.028571,1.576125,-0.224974,15161.7,0.000785,6.554623,0.097337,17943.6,0.002848,7126.2,-0.004855,6.538167,0.017684
900,2023-01-01,3.4,-0.029412,1.783099,0.116075,15317.6,0.010178,7.406600,0.115029,18229.6,0.015689,7060.8,-0.009262,6.487554,-0.007802
901,2023-02-01,3.6,0.055556,1.420202,-0.255525,15325.5,0.000515,7.880496,0.060135,18296.5,0.003656,7009.7,-0.007290,6.525000,0.005739
902,2023-03-01,3.5,-0.028571,2.059636,0.310460,15295.4,-0.001968,4.624751,-0.703983,18282.6,-0.000760,6922.5,-0.012597,6.390946,-0.020976
903,2023-04-01,3.4,-0.029412,1.443914,-0.426426,15316.9,0.001404,5.186168,0.108253,18363.8,0.004422,6841.6,-0.011825,6.264224,-0.020229
904,2023-05-01,3.7,0.081081,1.536904,0.060505,15337.4,0.001337,4.838418,-0.071873,18407.8,0.002390,6866.0,0.003554,5.975255,-0.048361
905,2023-06-01,3.6,-0.027778,1.060631,-0.449047,15376.3,0.002530,4.396425,-0.100535,18485.4,0.004198,6847.4,-0.002716,5.586684,-0.069553
906,2023-07-01,3.5,-0.028571,1.426047,0.256244,15448.3,0.004661,2.490776,-0.765083,18595.4,0.005915,6824.4,-0.003370,5.405751,-0.033470
907,2023-08-01,3.8,0.078947,1.602095,0.109886,15439.8,-0.000551,4.358972,0.428586,18651.6,0.003013,6781.3,-0.006356,5.172225,-0.045150
908,2023-09-01,3.8,0.000000,1.699708,0.057429,15496.0,0.003627,5.217921,0.164615,18791.5,0.007445,6739.6,-0.006187,4.959770,-0.042836
909,2023-10-01,3.8,0.000000,2.082461,0.183799,15519.9,0.001540,3.497958,-0.491705,18826.8,0.001875,6730.6,-0.001337,4.882928,-0.015737
910,2023-11-01,3.7,-0.027027,2.094329,0.005667,15584.3,0.004132,5.122615,0.317154,18903.0,0.004031,6728.3,-0.000342,4.688293,-0.041515
911,2023-12-01,3.7,0.000000,1.680899,-0.245957,15655.8,0.004567,4.160125,-0.231361,19013.7,0.005822,6732.5,0.000624,4.554396,-0.029400
912,2024-01-01,3.7,0.000000,1.680871,-0.000016,15621.6,-0.002189,6.542477,0.364136,19043.6,0.001570,6713.3,-0.002860,4.603922,0.010757
913,2024-02-01,3.9,0.051282,1.616823,-0.039614,15688.7,0.004277,4.558160,-0.435333,19189.0,0.007577,6681.7,-0.004729,4.403102,-0.045609

In [55]:
total_df.to_csv('Economic_Data.csv', index=False)

In [56]:
total_df.dtypes

Date                                            datetime64[ns]
Unemployment_Rate                                      float64
Change_Unemployment_Rate                               float64
10_year_interest                                       float64
Change_10_year_interest                                float64
Real_Personal_Consumption_Expenditure                  float64
Change_Real_Personal_Consumption_Expenditure           float64
Median_CPI                                             float64
Change_Median_CPI                                      float64
Personal_Consumption_Expenditure                       float64
Change_Personal_Consumption_Expenditure                float64
Money_Supply                                           float64
Change_Money_Supply                                    float64
Sticky_Price_CPI                                       float64
Change_Sticky_Price_CPI                                float64
dtype: object