In [2]:
import pandas as pd

In [5]:
data_df = pd.read_csv('morgan_coin.csv')
data_df

,Unnamed: 0,Listing,Actions,Avg Sold Price,Avg Shipping,Total Sold,Item_Sale,Bids,Date Last Sold
0,0,", preview full size imageHi Grade UNC PCGS Sla...",EditSell SimilarExclude listing,$208.08Fixed price,$0.00100% Free shipping,1,$208.08,–,"Mar 18, 2024"
1,1,", preview full size image1890 AU/UNC MORGAN SI...",EditSell SimilarExclude listing,$37.01Auction,$5.000% Free shipping,1,$37.01,9,"Mar 18, 2024"
2,2,", preview full size image1891-P AU UNCIRCULATE...",EditSell SimilarExclude listing,$59.77Auction,$0.00100% Free shipping,1,$59.77,1,"Mar 18, 2024"
3,3,", preview full size image1883 MORGAN SILVER DO...",EditSell SimilarExclude listing,$40.85Fixed price,$0.00100% Free shipping,1,$40.85,–,"Mar 18, 2024"
4,4,", preview full size image1889 AU/UNC MORGAN SI...",EditSell SimilarExclude listing,$43.06Auction,$5.000% Free shipping,1,$43.06,9,"Mar 18, 2024"
...,...,...,...,...,...,...,...,...,...
9995,45,", preview full size image1887 -(P) Morgan Silv...",EditSell SimilarExclude listing,$34.51Auction,$1.740% Free shipping,1,$34.51,10,"Mar 1, 2024"
9996,46,", preview full size image1897-S Morgan Silver ...",EditSell SimilarExclude listing,$128.05Auction,$3.250% Free shipping,1,$128.05,24,"Mar 1, 2024"
9997,47,", preview full size image1890 AU/UNC MORGAN SI...",EditSell SimilarExclude listing,$35.00Auction,$5.000% Free shipping,1,$35.00,9,"Mar 1, 2024"
9998,48,", preview full size imageEarly - 1899-O Morgan...",EditSell SimilarExclude listing,$33.00Auction,$0.00100% Free shipping,1,$33.00,14,"Mar 1, 2024"
9999,49,", preview full size image1889 O MORGAN SILVER ...",EditSell SimilarExclude listing,$193.50Auction,$0.00100% Free shipping,1,$193.50,16,"Mar 1, 2024"

In [6]:


# Function to extract and format the first part of the string
def extract_and_format(value):
    parts = value.split('%')[0].split('$')[1]
    first_part = parts.strip()
    formatted_value = '{:.2f}'.format(float(first_part[1:]))
    return formatted_value

In [7]:
# Remove commas from all values in the DataFrame
data_df = data_df.replace(',', '', regex=True)
# 
data_df['Avg_Sold_Price'] = data_df['Avg Sold Price'].apply(lambda x: x.split('$')[1].split('F')[0].split('A')[0]).astype(float)

# 
data_df['Total_Sales'] = data_df['Item_Sale'].apply(lambda x: x.split('$')[1]).astype(float)

data_df['Total_Sold'] = data_df['Total Sold'].astype(float)

# Convert string to datetime
data_df['Date'] = pd.to_datetime(data_df['Date Last Sold'])

# Apply the function to the column
data_df['Shipping'] = data_df['Avg Shipping'].apply(lambda x: extract_and_format(x)).astype(float)

data_df.head()

,Unnamed: 0,Listing,Actions,Avg Sold Price,Avg Shipping,Total Sold,Item_Sale,Bids,Date Last Sold,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping
0,0,preview full size imageHi Grade UNC PCGS Slab...,EditSell SimilarExclude listing,$208.08Fixed price,$0.00100% Free shipping,1,$208.08,–,Mar 18 2024,208.08,208.08,1.0,2024-03-18,0.0
1,1,preview full size image1890 AU/UNC MORGAN SIL...,EditSell SimilarExclude listing,$37.01Auction,$5.000% Free shipping,1,$37.01,9,Mar 18 2024,37.01,37.01,1.0,2024-03-18,0.0
2,2,preview full size image1891-P AU UNCIRCULATED...,EditSell SimilarExclude listing,$59.77Auction,$0.00100% Free shipping,1,$59.77,1,Mar 18 2024,59.77,59.77,1.0,2024-03-18,0.0
3,3,preview full size image1883 MORGAN SILVER DOL...,EditSell SimilarExclude listing,$40.85Fixed price,$0.00100% Free shipping,1,$40.85,–,Mar 18 2024,40.85,40.85,1.0,2024-03-18,0.0
4,4,preview full size image1889 AU/UNC MORGAN SIL...,EditSell SimilarExclude listing,$43.06Auction,$5.000% Free shipping,1,$43.06,9,Mar 18 2024,43.06,43.06,1.0,2024-03-18,0.0

In [8]:
data_df.drop(columns=['Unnamed: 0', 'Actions', 'Avg Sold Price', 'Bids', 'Date Last Sold', 'Avg Shipping', 'Item_Sale', 'Total Sold'], inplace=True)
data_df.head()

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping
0,preview full size imageHi Grade UNC PCGS Slab...,208.08,208.08,1.0,2024-03-18,0.0
1,preview full size image1890 AU/UNC MORGAN SIL...,37.01,37.01,1.0,2024-03-18,0.0
2,preview full size image1891-P AU UNCIRCULATED...,59.77,59.77,1.0,2024-03-18,0.0
3,preview full size image1883 MORGAN SILVER DOL...,40.85,40.85,1.0,2024-03-18,0.0
4,preview full size image1889 AU/UNC MORGAN SIL...,43.06,43.06,1.0,2024-03-18,0.0

In [9]:
data_df['Listing'] = data_df['Listing'].apply(lambda x: x.split('image')[-1])

In [10]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

# Download NLTK resources (only need to do this once)
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# Function to extract keywords
def extract_keywords(text):
    tokens = word_tokenize(text)
    tagged_tokens = pos_tag(tokens)
    keywords = [word for word, pos in tagged_tokens if pos in ['NN', 'NNS', 'NNP', 'JJ']]
    return keywords

[nltk_data] Downloading package punkt to /Users/evanbruno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/evanbruno/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [11]:
# Apply the function to both listing titles and descriptions
data_df['Title_Keywords'] = data_df['Listing'].apply(extract_keywords)
data_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
0,Hi Grade UNC PCGS Slab MS65 1889 P Morgan 90% ...,208.08,208.08,1.0,2024-03-18,0.00,"[Hi, Grade, UNC, PCGS, Slab, MS65, P, Morgan, ..."
1,1890 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,37.01,37.01,1.0,2024-03-18,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
2,1891-P AU UNCIRCULATED MORGAN SILVER DOLLAR 9...,59.77,59.77,1.0,2024-03-18,0.00,"[1891-P, AU, UNCIRCULATED, MORGAN, SILVER, DOL..."
3,1883 MORGAN SILVER DOLLAR COIN-XF1883 MORGAN S...,40.85,40.85,1.0,2024-03-18,0.00,"[MORGAN, SILVER, DOLLAR, COIN-XF1883, MORGAN, ..."
4,1889 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,43.06,43.06,1.0,2024-03-18,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
...,...,...,...,...,...,...,...
9995,1887 -(P) Morgan Silver Dollar $1 ~ AU Details...,34.51,34.51,1.0,2024-03-01,0.74,"[P, Morgan, Silver, Dollar, ~, AU, Details, %,..."
9996,1897-S Morgan Silver Dollar Silver Coin White ...,128.05,128.05,1.0,2024-03-01,0.25,"[1897-S, Morgan, Silver, Dollar, Silver, Coin,..."
9997,1890 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,35.00,35.00,1.0,2024-03-01,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
9998,Early - 1899-O Morgan Silver Dollar - 90% US C...,33.00,33.00,1.0,2024-03-01,0.00,"[Early, 1899-O, Morgan, Silver, Dollar, %, US,..."
9999,1889 O MORGAN SILVER DOLLAR HI GRADE U.S. MINT...,193.50,193.50,1.0,2024-03-01,0.00,"[O, MORGAN, SILVER, DOLLAR, HI, GRADE, U.S., M..."

In [18]:
filtered_df= data_df.loc[data_df['Avg_Sold_Price'] > 200]
filtered_df.head()

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
0,Hi Grade UNC PCGS Slab MS65 1889 P Morgan 90% ...,208.08,208.08,1.0,2024-03-18,0.00,"[Hi, Grade, UNC, PCGS, Slab, MS65, P, Morgan, ..."
25,1893-S Morgan Silver Dollar $1 Coin - Certifie...,6862.70,6862.70,1.0,2024-03-18,0.00,"[1893-S, Morgan, Silver, Dollar, Coin, Certifi..."
28,20 UNCIRULATED BU Coins Morgan Dollar Roll DMP...,1550.00,1550.00,1.0,2024-03-18,0.00,"[UNCIRULATED, BU, Coins, Morgan, Dollar, Roll,..."
33,1878 CC MORGAN SILVER DOLLAR HI GRADE GENUINE ...,302.00,302.00,1.0,2024-03-18,0.00,"[CC, MORGAN, SILVER, DOLLAR, HI, GRADE, GENUIN..."
46,1891 Cc Morgan Silver Dollar NGC Certified Ms6...,745.00,745.00,1.0,2024-03-18,3.45,"[Cc, Morgan, Silver, Dollar, NGC, Certified, M..."

In [19]:
from collections import Counter
# Flatten the filtered lists
data_df_lists = filtered_df['Title_Keywords'].sum()

# Count the occurrences of each word
word_counts = Counter(data_df_lists)

# Find the most common words
most_common_words = word_counts.most_common()

In [20]:

def extract_phrases(title):
    tokens = title.split()  # Tokenize the title
    phrases = []
    for i in range(len(tokens)):
        for j in range(i + 1, min(i + 6, len(tokens) + 1)):  # Generate combinations of 2 to 5 words
            phrase = ' '.join(tokens[i:j])
            if len(phrase.split()) >= 2 and len(phrase.split()) <= 5:  # Check if phrase length is between 2 and 5
                phrases.append(phrase)
    return phrases

# Apply the function to the Titles column
phrases = filtered_df['Listing'].apply(extract_phrases).sum()

# Count the occurrences of each phrase
phrase_counts = Counter(phrases)

# Find the most common phrases
most_common_phrases = phrase_counts.most_common()

most_common_phrases_df = pd.DataFrame(most_common_phrases, columns=['Name', 'Count'])
most_common_phrases_df.head(25)

                                Name  Count
0                      Morgan Silver    716
1                      Silver Dollar    649
2               Morgan Silver Dollar    609
3                      MORGAN SILVER    298
4                      SILVER DOLLAR    288
5               MORGAN SILVER DOLLAR    284
6                      Morgan Dollar    235
7                      Dollar Silver    164
8                        Silver Coin    150
9                        Carson City    146
10                Dollar Silver Coin    140
11       Morgan Silver Dollar Silver    130
12              Silver Dollar Silver    130
13  Morgan Silver Dollar Silver Coin    128
14         Silver Dollar Silver Coin    128
15                       Dollar Coin    119
16                          RARE KEY    100
17                         $1 Morgan     98
18                         Dollar $1     96
19                  $1 Morgan Silver     96
20                Silver Dollar Coin     94
21           $1 Morgan Silver Dollar     92
22         Morgan Silver Dollar Coin     92
23                        DOLLAR 90%     92
24                         U.S. MINT     90

In [21]:
# Filter the DataFrame
testing_df = filtered_df[filtered_df['Listing'].str.contains('Carson City')]
testing_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
46,1891 Cc Morgan Silver Dollar NGC Certified Ms6...,745.00,745.00,1.0,2024-03-18,3.45,"[Cc, Morgan, Silver, Dollar, NGC, Certified, M..."
157,1882 Cc Morgan Silver Dollar Gem Bu Uncirculat...,325.00,325.00,1.0,2024-03-18,2.45,"[Cc, Morgan, Silver, Dollar, Gem, Bu, Uncircul..."
245,1882 CC Carson City $1 Morgan Silver Dollar VA...,399.99,399.99,1.0,2024-03-18,0.00,"[CC, Carson, City, Morgan, Silver, Dollar, VAM..."
249,3 Coin Lot CC Carson City Morgan Dollars 1882 ...,1170.00,1170.00,1.0,2024-03-18,5.00,"[Coin, Lot, CC, Carson, City, Morgan, Dollars,..."
349,1882-CC Morgan Silver Dollar Key Date AU Detai...,249.99,249.99,1.0,2024-03-18,0.00,"[1882-CC, Morgan, Silver, Dollar, Key, Date, A..."
...,...,...,...,...,...,...,...
9581,1880 CC Carson City $1 Morgan Silver Dollar VA...,799.98,799.98,1.0,2024-03-02,0.00,"[CC, Carson, City, Morgan, Silver, Dollar, VAM..."
9775,1884 CC Carson City GSA Morgan Silver Dollar w...,885.00,885.00,1.0,2024-03-02,0.00,"[CC, Carson, City, GSA, Morgan, Silver, Dollar..."
9787,1879 Carson City Morgan Dollar Coin1879 Carson...,349.99,349.99,1.0,2024-03-02,0.00,"[Carson, City, Morgan, Dollar, Coin1879, Carso..."
9815,1878 CC Carson City $1 Morgan Silver Dollar NG...,349.99,349.99,1.0,2024-03-02,0.00,"[CC, Carson, City, Morgan, Silver, Dollar, NGC..."
9860,1882 CC Carson City $1 Morgan Silver Dollar NG...,259.99,259.99,1.0,2024-03-02,0.00,"[CC, Carson, City, Morgan, Silver, Dollar, NGC..."

In [22]:
# Apply the function to the Titles column
phrases = testing_df['Listing'].apply(extract_phrases).sum()

# Count the occurrences of each phrase
phrase_counts = Counter(phrases)

# Find the most common phrases
most_common_phrases = phrase_counts.most_common()

In [23]:
most_common_phrases_df = pd.DataFrame(most_common_phrases, columns=['Name', 'Count'])
most_common_phrases_df.head(25)

                            Name  Count
0                    Carson City    146
1                  Morgan Silver    130
2                  Silver Dollar    122
3           Morgan Silver Dollar    120
4                      CC Carson     50
5                 CC Carson City     50
6                      $1 Morgan     40
7               $1 Morgan Silver     38
8        $1 Morgan Silver Dollar     38
9                 Carson City $1     36
10                       City $1     36
11             CC Carson City $1     32
12      CC Carson City $1 Morgan     28
13         Carson City $1 Morgan     28
14  Carson City $1 Morgan Silver     28
15                City $1 Morgan     28
16         City $1 Morgan Silver     28
17  City $1 Morgan Silver Dollar     28
18                      Key Date     28
19              Silver Dollar $1     28
20                     Dollar $1     28
21       Morgan Silver Dollar $1     26
22      Morgan Silver Dollar NGC     22
23             Silver Dollar NGC     22
24                    Dollar NGC     22

# Popular Whole DF

In [24]:
filtered_df= data_df.loc[data_df['Avg_Sold_Price'] > 10]
filtered_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
0,Hi Grade UNC PCGS Slab MS65 1889 P Morgan 90% ...,208.08,208.08,1.0,2024-03-18,0.00,"[Hi, Grade, UNC, PCGS, Slab, MS65, P, Morgan, ..."
1,1890 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,37.01,37.01,1.0,2024-03-18,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
2,1891-P AU UNCIRCULATED MORGAN SILVER DOLLAR 9...,59.77,59.77,1.0,2024-03-18,0.00,"[1891-P, AU, UNCIRCULATED, MORGAN, SILVER, DOL..."
3,1883 MORGAN SILVER DOLLAR COIN-XF1883 MORGAN S...,40.85,40.85,1.0,2024-03-18,0.00,"[MORGAN, SILVER, DOLLAR, COIN-XF1883, MORGAN, ..."
4,1889 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,43.06,43.06,1.0,2024-03-18,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
...,...,...,...,...,...,...,...
9995,1887 -(P) Morgan Silver Dollar $1 ~ AU Details...,34.51,34.51,1.0,2024-03-01,0.74,"[P, Morgan, Silver, Dollar, ~, AU, Details, %,..."
9996,1897-S Morgan Silver Dollar Silver Coin White ...,128.05,128.05,1.0,2024-03-01,0.25,"[1897-S, Morgan, Silver, Dollar, Silver, Coin,..."
9997,1890 AU/UNC MORGAN SILVER DOLLAR 90% $1 COIN U...,35.00,35.00,1.0,2024-03-01,0.00,"[AU/UNC, MORGAN, SILVER, DOLLAR, %, COIN, US, ..."
9998,Early - 1899-O Morgan Silver Dollar - 90% US C...,33.00,33.00,1.0,2024-03-01,0.00,"[Early, 1899-O, Morgan, Silver, Dollar, %, US,..."
9999,1889 O MORGAN SILVER DOLLAR HI GRADE U.S. MINT...,193.50,193.50,1.0,2024-03-01,0.00,"[O, MORGAN, SILVER, DOLLAR, HI, GRADE, U.S., M..."

In [25]:
from collections import Counter

In [26]:

def extract_phrases(title):
    tokens = title.split()  # Tokenize the title
    phrases = []
    for i in range(len(tokens)):
        for j in range(i + 1, min(i + 6, len(tokens) + 1)):  # Generate combinations of 2 to 5 words
            phrase = ' '.join(tokens[i:j])
            if len(phrase.split()) >= 2 and len(phrase.split()) <= 5:  # Check if phrase length is between 2 and 5
                phrases.append(phrase)
    return phrases

# Apply the function to the Titles column
phrases = filtered_df['Listing'].apply(extract_phrases).sum()

# Count the occurrences of each phrase
phrase_counts = Counter(phrases)

# Find the most common phrases
most_common_phrases = phrase_counts.most_common()

most_common_phrases_df = pd.DataFrame(most_common_phrases, columns=['Name', 'Count'])
most_common_phrases_df.head(25)

                               Name  Count
0                     MORGAN SILVER   8671
1                     SILVER DOLLAR   8619
2              MORGAN SILVER DOLLAR   8544
3                     Morgan Silver   8531
4                     Silver Dollar   8122
5              Morgan Silver Dollar   7849
6                        DOLLAR 90%   6686
7                           $1 COIN   6589
8                            90% $1   6566
9                 SILVER DOLLAR 90%   6560
10         MORGAN SILVER DOLLAR 90%   6556
11                    DOLLAR 90% $1   6546
12                      90% $1 COIN   6521
13               DOLLAR 90% $1 COIN   6511
14             SILVER DOLLAR 90% $1   6442
15      MORGAN SILVER DOLLAR 90% $1   6438
16        SILVER DOLLAR 90% $1 COIN   6407
17                          COIN US   6346
18                       $1 COIN US   6342
19                   90% $1 COIN US   6326
20            DOLLAR 90% $1 COIN US   6323
21                    AU/UNC MORGAN   3638
22             AU/UNC MORGAN SILVER   3638
23      AU/UNC MORGAN SILVER DOLLAR   3636
24  AU/UNC MORGAN SILVER DOLLAR 90%   3632

In [27]:
type_product = most_common_phrases_df['Name'].head(100).tolist()

In [28]:

dict_sales = {'Phrase': [], 'Avg_Sold_Price_mean': [], 'Avg_Sold_Price_25': [], 'Avg_Sold_Price_75': [], 'Total_Sold': [], 'Ship_Cost': [], 'Count_Unique': []}


for phrase in type_product:
    # Filter rows where 'filtered_df' or 'Vitamin' is in the list
    temp_df = filtered_df[filtered_df['Listing'].apply(lambda x: phrase in x)]

    mean = temp_df.describe()['Avg_Sold_Price'].tolist()[1]

    percent_25 = temp_df.describe()['Avg_Sold_Price'].tolist()[4]

    percent_75 = temp_df.describe()['Avg_Sold_Price'].tolist()[6]

    total = temp_df['Total_Sold'].sum()

    ship = temp_df.describe()['Shipping'].tolist()[5]
    
    count =  temp_df.describe()['Total_Sold'].tolist()[0]
    
    dict_sales['Phrase'].append(phrase)
    dict_sales['Avg_Sold_Price_mean'].append(mean)
    dict_sales['Avg_Sold_Price_25'].append(percent_25)
    dict_sales['Avg_Sold_Price_75'].append(percent_75)
    dict_sales['Total_Sold'].append(total)
    dict_sales['Ship_Cost'].append(ship)
    dict_sales['Count_Unique'].append(count)
    
stats_df = pd.DataFrame.from_dict(dict_sales)

stats_df['Ratio_Sold_Count'] = stats_df['Total_Sold'] / stats_df['Count_Unique']

In [29]:
stats_df.sort_values(by='Avg_Sold_Price_mean', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
45,Morgan Dollar,229.060353,40.000,171.9150,2398.0,0.00,595.0,4.030252
76,Silver Dollar $1,168.937090,34.000,95.4950,300.0,0.25,299.0,1.003344
78,Morgan Silver Dollar $1,167.489386,34.000,85.7500,294.0,0.25,293.0,1.003413
54,Dollar $1,166.952405,35.000,100.0000,342.0,0.25,341.0,1.002933
80,Silver Dollar Silver Coin,158.163289,61.150,176.8525,304.0,0.25,304.0,1.000000
79,Morgan Silver Dollar Silver Coin,158.163289,61.150,176.8525,304.0,0.25,304.0,1.000000
73,Morgan Silver Dollar Silver,157.770951,61.000,176.3800,305.0,0.25,305.0,1.000000
74,Silver Dollar Silver,157.770951,61.000,176.3800,305.0,0.25,305.0,1.000000
58,Dollar Silver Coin,154.186420,57.215,165.3875,338.0,0.25,338.0,1.000000
52,Dollar Silver,152.776582,55.000,165.1625,394.0,0.25,392.0,1.005102

In [30]:
stats_df.sort_values(by='Total_Sold', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
4,Silver Dollar,96.349378,29.575,77.0000,9854.0,0.0,4243.0,2.322413
3,Morgan Silver,94.180072,29.770,77.7350,8619.0,0.0,4282.0,2.012844
5,Morgan Silver Dollar,94.313816,29.530,76.0000,8430.0,0.0,4093.0,2.059614
1,SILVER DOLLAR,59.885220,35.000,51.0000,4675.0,0.0,4356.0,1.073232
0,MORGAN SILVER,59.963875,35.000,50.6900,4666.0,0.0,4348.0,1.073137
2,MORGAN SILVER DOLLAR,59.816166,35.000,50.6900,4645.0,0.0,4327.0,1.073492
6,DOLLAR 90%,48.336354,34.660,45.0000,3343.0,0.0,3343.0,1.000000
7,$1 COIN,48.191374,34.750,45.0000,3326.0,0.0,3326.0,1.000000
8,90% $1,47.554147,34.660,44.7725,3284.0,0.0,3284.0,1.000000
9,SILVER DOLLAR 90%,48.464988,35.000,45.0000,3280.0,0.0,3280.0,1.000000

In [31]:
stats_df.sort_values(by='Ratio_Sold_Count', ascending=False).head(10)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
45,Morgan Dollar,229.060353,40.0000,171.9150,2398.0,0.00,595.0,4.030252
4,Silver Dollar,96.349378,29.5750,77.0000,9854.0,0.00,4243.0,2.322413
5,Morgan Silver Dollar,94.313816,29.5300,76.0000,8430.0,0.00,4093.0,2.059614
3,Morgan Silver,94.180072,29.7700,77.7350,8619.0,0.00,4282.0,2.012844
48,90% Silver,58.592072,31.0275,55.0000,822.0,0.15,526.0,1.562738
25,US Coin,41.454603,28.0000,34.8200,2757.0,0.00,1903.0,1.448765
77,Morgan Silver Dollar Coin,132.693179,49.9500,147.1250,413.0,0.28,324.0,1.274691
69,Silver Dollar Coin,132.240028,49.9500,143.1225,442.0,0.25,352.0,1.255682
47,Silver Coin,110.581790,38.0000,114.5000,765.0,0.25,637.0,1.200942
49,Dollar Coin,125.557289,44.9500,127.9900,611.0,0.15,509.0,1.200393